.body {
  margin: 0;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf6ee;
  color: #111111;
}

.containers {
  display: flex;
  height: 82%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.leftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.contactTitle {
  color: #102A42;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 0;
}

.borderTitle {
  border-bottom: 3px solid #e9b949;
}

.contactInformation {
  margin-top: 25px;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #617d98;
}

.headerInformation {
  margin-bottom: 15px;
  height: 27%;
  color: #617d98;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.headerInformationTxt {
  color: #102A42;
  font-size: 20px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #111111;
  font-size: 16px;
}

.phoneContainer,
.mailContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneIcon {
  margin-left: 15px;
}

.phone {
  margin-left: 0;
  letter-spacing: 1px;
}

.mailIcon {
  margin-left: 15px;
}

.mail {
  margin-left: 0;
  letter-spacing: 1px;
}

.bottomInformation {
  margin-top: 17px;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #617d98;
}

.endInformation {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.logoInformation {
  display: flex;
  gap: 20px;
}

.gitHubLogo {
  font-size: 40px;
  width: fit-content;
  transition: color 0.5s;
  color: #102A42;
}

.gitHubLogo:hover {
  color: rgb(142, 141, 146);
  cursor: pointer;
}

.LinkedInLogo {
  font-size: 40px;
  width: fit-content;
  transition: color 0.5s;
  color: #102A42;
}

.LinkedInLogo:hover {
  color: #0077B5;
  cursor: pointer;
}