.headerContainer {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

/* .leftPartHeader { */
    /* border: 5px solid green; */
    /* margin-top: 3px; */
/* } */
  
.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 35px;
    background-color: #1e1e1e;
    border: 2px solid #c4b79b;
    color: white;
}

.rightPartHeader {
    display: flex;
    align-items: center;
    gap: 35px;
}

.aboutHeader {
    padding: 7px;
    transition: background-color 1.3s;
}

.aboutHeader:hover,
.aboutHeader:focus,
.aboutHeader:active {
  background-color: #3a3a3a;
  border: 2px solid #c4b79b;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.projectsHeader {
    padding: 7px;
    transition: background-color 1.3s;
}

.projectsHeader:hover,
.projectsHeader:focus,
.projectsHeader:active {
  background-color: #3a3a3a;
  border: 2px solid #c4b79b;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.contactHeader {
    padding: 7px;
    transition: background-color 1.3s;
}

.contactHeader:hover,
.contactHeader:focus,
.contactHeader:active {
  background-color: #3a3a3a;
  border: 2px solid #c4b79b;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.translationHeader {
    padding: 7px;
    transition: background-color 1.3s;
}

.translationHeader:hover,
.translationHeader:focus,
.translationHeader:active {
  background-color: #3a3a3a;
  border: 2px solid #c4b79b;
  color: white;
  cursor: pointer;
  padding: 10px;
}


.darkLightModeHeader {
    padding: 7px;
    transition: background-color 1.3s;
}

.darkLightModeHeader:hover,
.darkLightModeHeader:focus,
.darkLightModeHeader:active {
  background-color: #3a3a3a;
  border: 2px solid #c4b79b;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.aboutHeader, .projectsHeader, .contactHeader,
.translationHeader, .darkLightModeHeader {
    border-radius: 10px;
    letter-spacing: 1px;
}

/* .aboutHeader:focus,
.projectsHeader:focus,
.contactHeader:focus,
.translationHeader:focus,
.darkLightModeHeader:focus {
  outline: none;
} */
