.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #fffaeb; */
  /* background-color: rgba(245,245,247,255); */
  background-color: #fdf6ee;
  color: #111111;
}

/* BODY PART */

.bodyContainer {
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15%;
}

.bodyLeftContainer {
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 24%;
}

.bodyFirstLeftContainer {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 64px;
  color: #111111;
}

.borderSpan {
  border-top: 3px solid #e9b949;
}

.bodySecondLeftContainer {
  height: fit-content;
  font-size: 16px;
  letter-spacing: 1px;
  color: #6e6e6e;
  margin-top: 1px;
}

.bodyThirdLeftContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #102A42;
  letter-spacing: 3px;
}

.projectBody {
  border-radius: 8px;
  padding: 3px;
  height: 45px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #1e1e1e;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
}

.projectBody:hover {
  background-color: #e5e0d8;
  color: #111111;
  cursor: pointer;
}

.bodyFourthLeftContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.gitHubLogo {
  font-size: 40px;
  width: fit-content;
  transition: 0.5s;
}

.gitHubLogo:hover {
  color: #3a3a3a;
  cursor: pointer;
}

.LinkedInLogo {
  font-size: 40px;
  width: fit-content;
  transition: 0.5s;
}

.LinkedInLogo:hover {
  color: #0a66c2;
  cursor: pointer;
}

.bodyRightContainer {
  height: 70%;
  width: 25%;
}

.PersonnalEmoji {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}