.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffaeb;
}

/* BODY PART */

.bodyContainer {
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15%;
}

.bodyLeftContainer {
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 24%;
}

.bodyFirstLeftContainer {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 64px;
  color: #102A42;
}

.borderSpan {
  border-top: 3px solid #e9b949;
}

.bodySecondLeftContainer {
  height: fit-content;
  font-size: 16px;
  letter-spacing: 1px;
  color: #617D98;
  margin-top: 1px;
}

.bodyThirdLeftContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #102A42;
  letter-spacing: 3px;
}

.projectBody {
  border-radius: 8px;
  padding: 3px;
  height: 45px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9b949;
  font-size: 18px;
  transition: background-color 0.7s;
}

.projectBody:hover {
  background-color: #f7dda0;
  cursor: pointer;
}

.bodyFourthLeftContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.gitHubLogo {
  font-size: 40px;
  width: fit-content;
  transition: 0.5s;
}

.gitHubLogo:hover {
  color: rgb(142, 141, 146);
  cursor: pointer;
}

.LinkedInLogo {
  font-size: 40px;
  width: fit-content;
  transition: 0.5s;
}

.LinkedInLogo:hover {
  color: #0077B5;
  cursor: pointer;
}

.bodyRightContainer {
  height: 70%;
  width: 25%;
}

.PersonnalEmoji {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}